*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text-main);
  font-family: 'IBM Plex Sans', sans-serif;;
}
input{
  box-sizing: border-box;

  border: 1px solid #d8d6ff;
  font-size: 2rem;
  border-radius: 5px;

  font-weight: 400;
  line-height: 1.5;
  outline: none;
  box-shadow: none;
  text-align: center;

  padding: 0;
  margin: 0;

  background: transparent;


  color: inherit;

  resize: none;
}
button{
  line-height: 2rem;
  color: var(--color-onprim-color);
  border: 1px solid #d8d6ff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2rem;
  border-radius: 5px;
  padding: 7px;
  background-color: var(--color-primary);
}
button:hover{
  background: var(--color-primary-hover);
}
.alert{
  background-color: rgba(255, 202, 229, 0.2);
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 4px;
  max-width: 500px;
  text-align: center;
  align-self: center;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  outline: none;
  box-shadow: none;

  font: inherit;
  color: inherit;


  margin: 0;
  padding: 0;


  background: transparent;


  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  padding: 10px 15px;

  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background-color: white;


  font-size: 16px;
  line-height: 1.5;
}

