:root {
  --color-primary: #7b6ef6;
  --color-primary-hover: #6d5bd0;

  --color-bg: rgba(90, 90, 99, 0.04);
  --color-card: #ffffff;
  --color-border: #e8e6f5;

  --color-text-main: #080c1b;
  --color-text-muted: #6b7280;
  --color-placeholder: #9ca3af;
  --color-onprim-color: rgb(247, 247, 255);
}

