@if (quiz) {

  <div class="quiz">

    <h1 class="quiz__title">{{ quiz.name }}</h1>
    <p class="quiz__description">{{ quiz.description }}</p>

    <div class="quiz__items">

      @for (item of quiz.items; track item.id) {

        <div class="quiz-item">

          @switch (item.type) {

            @case ('text') {
              <label class="quiz-item__label">
                Текстовый ответ
              </label>
              <input
                type="text"
                class="quiz-item__input"
                [placeholder]="item.placeholder || 'Введите ответ'"
              />
            }

            @case ('range') {
              <label class="quiz-item__label">
                Оценка ({{ item.min }} – {{ item.max }})
              </label>
              <input
                type="range"
                class="quiz-item__range"
                [min]="item.min"
                [max]="item.max"
              />
            }

            @case ('select') {
              <label class="quiz-item__label">
                Выберите вариант
              </label>

              <select class="quiz-item__select">
                @for (opt of item.options; track opt) {
                  <option [value]="opt">{{ opt }}</option>
                }
              </select>
            }

          }

        </div>

      }

    </div>

    <button class="quiz__submit">
      Отправить ответы
    </button>

  </div>

} @else {
  <p class="loading">Загрузка квиза…</p>
}
