<form  class="form-page" [formGroup]="loginForm" (ngSubmit)="submit()">

  <h1 class="form-page__name">Логин</h1>


  <div class="form-page__input-holder">
    <input
      class="form-page__input-holder__input"
      formControlName="userName"
      type="text"
      placeholder="Логин"
    />

  </div>
  @if (loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched) {
    <p class="alert">Введите логин</p>
  }


  <div class="form-page__input-holder">
    <input
      class="form-page__input-holder__input"
      formControlName="userPassword"
      type="password"
      placeholder="Пароль"
    />
    @if (loginForm.controls['userPassword'].invalid && loginForm.controls['userPassword'].touched) {
      <p class="alert">Введите пароль</p>
    }
  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Войти
  </button>

  <div class="form-page__footer">
    <p class="noAccout">
      Нет аккаунта?
    </p >
    <a routerLink class="toRegister" (click)="navigateToRegister()">Зарегистрироваться</a>
  </div>

</form>
