<form  class="form-page" [formGroup]="loginForm" (ngSubmit)="submit()">

  <h1 class="form-page__name">Войти в аккаунт</h1>
  <h2>Войдите в аккаунт</h2>

  @if (loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched) {
    <p class="alert">Введите логин</p>
  }

  <div class="form-page__input-holder">
    <input
      class="form-page__input-holder__input"
      formControlName="userName"
      type="text"
      placeholder="Логин"
    />

  </div>

  @if (loginForm.controls['userPassword'].invalid && loginForm.controls['userPassword'].touched) {
    <p class="alert">Введите пароль</p>
  }

  <div class="form-page__input-holder">
    <input
      class="form-page__input-holder__input"
      formControlName="userPassword"
      type="password"
      placeholder="Пароль"
    />

  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Войти
  </button>

  <div class="form-page__footer">
    <p>
      Нет аккаунта?
      <a routerLink="/register">Зарегистрироваться</a>
    </p>
  </div>

</form>
