$background-color: #020202;
$altbackground-color: #252525;
$alt-color: #FFFFFF;
$text-main-color: #FFB800;
$offset: 128px;
$columns: 12;

@mixin grid-columns($columns, $offset) {
  grid-template-columns: repeat($columns, 1fr);
  padding-inline: $offset;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Ribeye&display=swap');

:root[data-theme="light"] {
  --background-color: #ffffff;
  --altbackground-color: #f2f2f2;
  --alt-color: #000000;
  --text-main-color: #FFB800;
}

:root[data-theme="dark"] {
  --background-color: #020202;
  --altbackground-color: #252525;
  --alt-color: #FFFFFF;
  --text-main-color: #FFB800;
}

button{
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

html {
  font-size: clamp(8px, 0.8vw, 18px);
}

* {

}

body {
  font-family: 'Comfortaa', 'Balsamiq Sans', 'Ribeye', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  color: var(--text-main-color);
  margin: 0;
  background-color: var(--background-color);
}
#dateShower{
  height: 0;
  font-size: 2rem;
}

.theme-dropdown{
  display:none;
}
.theme-dropdown.show {
  display: block;
}
.base-section__middle-container__cardholder__card__link{
  font-size: 2rem;
}

h1 {
  color: var(--lt-color);
  font-size: 2rem;
}
input{
  color: var(--alt-color);
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 100%;
  border-radius: 5%;
}

ul {
  list-style: none;
  text-decoration: none;
  color: var(--alt-color);
}

a {
  text-decoration: none;

}

hr {
  border: none;
  height: 3px;
  background-color: var(--alt-color);
  width: 4rem;
  margin: 20px auto;
}

span {
  color: var(--text-main-color);
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 8px;
  font-size: 1.5em;
}

p {
  color: var(--alt-color);
}

label {
  color: var(--alt-color);
}

.error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: rgba(255, 2, 2, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000000;
  border-radius: 2rem;
  grid-template-rows: 12fr 1fr;
}
.error__text{
  display: inline-block;
  text-align: center;
  padding-top: 10%;
  font-size: 4rem;
}
.error__button{
  font-size: 2rem;
  background-color: rgba(2, 2, 2, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hero-section {
  height: 100vh;
  display: grid;
  @include grid-columns(12, 128px);
}

.hero-section__navbar {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  z-index: 3000;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: rgba(2, 2, 2, 0.5);
  backdrop-filter: blur(1px);
}

.navbar__menu {
  display: flex;
  gap: 2rem;
  margin-right: $offset;


  &-item {
    min-width: 80px;
    max-width: 150px;
    justify-content: center;
    text-align: center;
    padding: 3px;

    a {
      color: var(--alt-color);
    }

    &--to-right {
      text-align: right;

    }

    &--active {
      a {
        padding-bottom: 0.5rem;
      }
    }

  }

}

.hero-section__intro {
  grid-column: 5/8;
  justify-self: center;
  align-self: center;
  width: 100%;
  min-width: 300px;


  grid-row: 1;
  text-align: center;

  &__h1 {
    padding: 30px 0 10px 0;
    color: var(--alt-color);
  }

  &__h2 {
    color: var(--alt-color);
  }

}

.hero-section__intro__img {
  border-radius: 50%;
}

main {
  min-height: 80vh;
  background-color: var(--altbackground-color);

}

.base-section--black-background {
  background-color: var(--background-color);
}

.base-section {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-inline: var(--_offset);
  display: grid;
  @include grid-columns(12, 128px);;

  &__left-container {
    grid-column: 2/6;
    justify-self: center;
    align-self: center;
    min-height: 80vh;
    min-width: 60%;
    max-width: 460px;

    grid-row: 1;

    &__image {
      border-radius: 5%;
    }
  }

  &__right-container {
    padding-left: 5%;
    grid-column: 6/13;
    grid-row: 1;

    &__p {
      padding-right: 10%;
      padding-top: 2%;
    }

    &__h2 {
      font-size: 3rem;
      margin: 0;
    }

    &__text {
      display: flex;
      align-items: center;
      gap: 1rem;

      hr {
        margin-left: 0;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 30% 30% 0;
      grid-row-gap: 2rem;
      grid-column-gap: 1rem;

      &__item {

        height: 50px;

        &__h3 {
          font-size: 1rem;
          align-self: center;

          span {
            text-align: right;
          }
        }
      }
    }

  }

  .base-section__middle-container {
    height: 80vh;
    display: grid;
    grid-column: 1/-1;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: subgrid;

    &__h2 {
      grid-column: 6/8;
      align-self: center;
      text-align: center;
      color: var(--alt-color);
    }

    &__left-container {
      grid-row: 2;
      grid-column: 4/7;
      padding-right: 16%;

    }

    &__right-container {
      grid-row: 2;
      grid-column: 7/10;
      padding-left: 16%;
      margin-top: 2rem;
      grid-template-rows: 1fr 1fr 1fr;

      button {
        min-height: 2.5rem;
        min-width: 8rem;
        justify-self: end;
        color: black;
        background-color: var(--text-main-color);
        border-radius: 15%;
        margin-left: 60%;
        margin-top: 2rem;
        font-family: "Comfortaa", "Balsamiq Sans", "Ribeye", sans-serif;
        border-color: #FFB800;
        padding: 0;
      }

      &__input-holder {
        display: grid;
        padding: 0.5rem;
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;

        &__label {
          padding-bottom: 0.5rem;

        }

        &__input {
          min-height: 3rem;
          background-color: var(--altbackground-color);
          border-bottom-color: var(--altbackground-color);
          border: 0;
          border-radius: 0.5rem;

          &--extended {
            min-height: 8rem;
          }
        }
      }
    }

    &__cardholder {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row: 2;
      height: 130%;
      grid-column: 3/11;
      grid-row-gap: 25%;
      grid-column-gap: 1rem;

      &__card {
        padding: 2rem;
        border-radius: 8%;
        background-color: var(--background-color);
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;

        &__text {
          height: 100%;
        }

        &__link {
          padding: 2rem;
          color: var(--text-main-color);
          align-self: center;
        }
      }


    }

    &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row: 2;
      grid-column: 3/11;
      padding-top: 5%;
      grid-row-gap: 25%;
      grid-column-gap: 1rem;

      &__image {
        width: 100%;
      }
    }
  }

}

.footer-section {
  color: black;
  min-height: 200px;
  background-color: #FFB800;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;

  &__content {
    color: black;
    grid-column: 2;
    align-items: center;
    place-items: center;

    &__title {
      padding-bottom: 2%;
      padding-top: 2%;
    }

    &__text {
      padding-top: 2%;
      color: black;
      padding-inline: 0;
    }

    &__nav {

      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5%;
      font-size: 1rem;

      &__list {
        color: black;
        padding-left: 0;
      }
    }


  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-section__intro__img {
  animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.hero-section__intro__h1,
.hero-section__intro__h2 {
  animation: fadeIn 1.5s ease forwards;
}

.base-section__left-container,
.base-section__right-container,
.base-section__middle-container__h2,
.base-section__middle-container__container,
.base-section__middle-container__cardholder {
  animation: fadeInUp 1s ease forwards;
}

.base-section__middle-container__container img,
.base-section__middle-container__cardholder__card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 15px rgba(255, 184, 0, 0.4);
  }
}

.hero-section__intro__h1--orange {
  color: var(--text-main-color);
}

@media (max-width: 1023px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  .hero-section,
  .base-section {
    @include grid-columns(6, 48px);
  }
  .navbar__menu {
    margin-right: 5%;
    font-size: 1.5rem;
  }
  .hero-section__intro {
    grid-column: 3/5;
  }
  .base-section__left-container {
    grid-column: 1 / 4;
  }
  .base-section__right-container {
    grid-column: 4 / -1;
    font-size: 2rem;

  }
  .base-section__right-container__list {
    padding: 0;

  }
  .base-section__right-container__list__item__h3 {
    font-size: 1.8rem;
  }
  .base-section .base-section__middle-container__h2 {
    grid-column: 3 / 5;
    font-size: 3rem;
  }
  .base-section .base-section__middle-container__container {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0;
    grid-row-gap: 10%;
    grid-column-gap: 1.5em;
  }
  .base-section .base-section__middle-container__cardholder {
    grid-column: 1 / -1
  }
  .base-section__middle-container__cardholder__card__title {
    font-size: 3rem;
    min-height: 90px;
  }
  .base-section .base-section__middle-container__cardholder__card__text {
    font-size: 2rem;
  }
  .base-section .base-section__middle-container__left-container {
    grid-column: 2 / 4;
    padding-right: 0;
  }
  .base-section .base-section__middle-container__right-container {
    grid-column: 4 / -1;
    padding-right: 5%;
  }
  .base-section__middle-container__left-container__title {
    font-size: 4rem;
  }
  .base-section__middle-container__left-container__text {
    font-size: 2rem;
  }
  .footer-section {
    min-height: 100px;
  }
  .footer-section__content__nav {
    gap: 5rem;
    justify-content: space-evenly;
    white-space: nowrap;
  }
  .footer-section__content__nav__list {
    font-size: 2rem;
  }
  .footer-section__content__title {
    font-size: 4rem;
  }
  .footer-section__content__text {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .hero-section,
  .base-section {
    @include grid-columns(4, 48px);
  }
  .hero-section__navbar{
    justify-content: center;
  }
  .navbar__menu {
    margin-right: 5%;
    font-size: 1.5rem;
    padding-top: 10px;
  }
  .hero-section__intro {
    grid-column: 2/4;
  }

  .base-section__left-container {
    grid-column: 1 / 4;
  }
  .base-section__right-container {
    grid-column: 4 / -1;
    font-size: 2rem;

  }
  .base-section__right-container__list {
    padding: 0;

  }
  .base-section__right-container__list__item__h3 {
    font-size: 1.5rem;
  }
  .base-section .base-section__middle-container__h2 {
    grid-column: 2 / 4;
    font-size: 2rem;
  }
  .base-section .base-section__middle-container__container {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0;
    grid-row-gap: 10%;
    grid-column-gap: 1em;
  }
  .base-section .base-section__middle-container__cardholder {
    grid-column: 1 / -1
  }
  .base-section__middle-container__cardholder__card__title {
    font-size: 2rem;
    min-height: 90px;
  }
  .base-section .base-section__middle-container__cardholder__card__text {
    font-size: 1.5rem;
  }
  .base-section .base-section__middle-container__left-container {
    grid-column: 1 / 3;
    padding: 10%;
    justify-items: center;

  }
  .base-section .base-section__middle-container__right-container {
    grid-column: 3 / -1;

  }
  .base-section .base-section__middle-container__right-container__input-holder__label {
    font-size: 1.5rem;
  }
  .base-section .base-section__middle-container__right-container__input-holder__input {
    min-height: 4rem;
  }
  .base-section .base-section__middle-container__right-container__input-holder__input--extended {
    min-height: 8rem;
  }
  .base-section__middle-container__left-container__title {
    font-size: 3.5rem;
  }
  .base-section__middle-container__left-container__text {
    font-size: 1.5rem;
    padding-left: 10%;
  }
  .footer-section {
    min-height: 50px;
  }
  .footer-section__content__nav {
    gap: 3rem;
    justify-content: space-evenly;
    white-space: nowrap;
  }
  .footer-section__content__nav__list {
    font-size: 1.5rem;
  }
  .footer-section__content__title {
    font-size: 3rem;
  }
  .footer-section__content__text {
    font-size: 1.5rem;
  }

}

@media (max-width: 600px) {
  .base-section__middle-container__cardholder{
    display: grid;
  }
  .base-section .base-section__middle-container__cardholder {
    grid-row-gap: 0;
    grid-template-columns: repeat(1, 1fr);
    height: 100%

  }
  .base-section .base-section__middle-container__cardholder__card {
    margin-bottom: 0;
  }
  .base-section__left-container{
    min-height: 0;
  }
  .navbar__menu {
    margin-right: 5%;
    padding-left: 0;
  }
  .hero-section__navbar__menu navbar__menu{

  }
  .hero-section,
  .base-section {
    @include grid-columns(1, 0px);
  }
  .base-section .base-section__middle-container__container{
    gap:2px;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-section__intro {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }

  .base-section__left-container,
  .base-section__right-container,
  .base-section__middle-container__left-container,
  .base-section__middle-container__right-container,
  .base-section__middle-container__container,
  .base-section__middle-container__cardholder {
    grid-column: 1 / -1;
    grid-row: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
  }
  .base-section__middle-container__right-container__input-holder__input,
  .base-section__middle-container__right-container__input-holder__input--extended {
    min-height: auto;
  }
  .base-section .base-section__middle-container__cardholder__card {
    max-height: 80%;
  }

  .base-section .base-section__middle-container__left-container {
    grid-row: 2;
    padding: 2%;
  }
  .base-section .base-section__middle-container__right-container {
    grid-row: 3;
    padding: 2%;
  }
  .base-section .base-section__middle-container {
    grid-column: auto;
  }
  .base-section__middle-container__cardholder__card__title {
    height: auto;
    margin: 0;
  }

  .footer-section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .base-section__middle-container__right-container__button{
    font-size: 2rem;
  }
  .footer-section__content {
    grid-column: 1 / -1;
    padding: 0 5%;
    text-align: center;
    place-items: center;
  }

  .footer-section__content__nav {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    white-space: nowrap;
  }
}
.active {

  border-bottom: 3px solid var(--text-main-color);
  color: var(--text-main-color);
  animation: href-animation 1s ease forwards;
}
@keyframes  href-animation {
  0%{
   font-size: 1rem;
  }
  50%{
    font-size: 1.1rem;
  }
  100%{
    font-size: 1rem;
  }
}
.navbar__menu-item__themeButton{
  font-size: 3rem;
  background: none;

}
.material-icons{
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}


