<form [formGroup]="registerForm">
  <div class="form-page">
    <h1 class="form-page__name">
      Регистрация
    </h1>

      <div class="form-page__input-holder">
        <input class="form-page__input-holder__input" name="name" formControlName="userName" placeholder="Логин">
        @if(registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched){
          @for (error of getErrors('userName'); track error){
            <p class="alert">{{error}}</p>
          }
        }
      </div>
      <div>
        <input name="password" formControlName="userPassword" placeholder="Пароль">
        @if(registerForm.controls['userPassword'].invalid && registerForm.controls['userPassword'].touched){
          @for (error of getErrors('userPassword'); track error){
            <p class="alert">{{error}}</p>
          }
        }
      </div>


    <button (click)="submit()" type="submit" [disabled]="registerForm.invalid">Подтвердить</button>
    <div class="redirect">
      <h3>Уже имеете аккаунт?</h3>
      <label class="toLogin" (click)="redirectToLogin()">Войдите</label>
    </div>
  </div>
</form>
