<form [formGroup]="registerForm">
  <div class="form-page">
    <h1 class="form-page__name">
      Создайте аккаунт
    </h1>
    <h2>
      Зарегестрируйтесь чтобы создавать и проходить квизы
    </h2>
      <label class="form-page__label">Введите пожалуйста логин</label>
      <div class="form-page__input-holder">
        <input class="form-page__input-holder__input" name="name" formControlName="userName">
        @if(registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched){
          @for (error of getErrors('userName'); track error){
            <p class="alert">{{error}}</p>
          }
        }
      </div>
      <div>
        <input name="password" formControlName="userPassword">
        @if(registerForm.controls['userPassword'].invalid && registerForm.controls['userPassword'].touched){
          @for (error of getErrors('userPassword'); track error){
            <p class="alert">{{error}}</p>
          }
        }
      </div>


    <button (click)="submit()" type="submit" [disabled]="registerForm.invalid">Подтвердить</button>
    <div>
      <h3>Уже имеете аккаунт? Войдите</h3>
      <p>Сюда надо вставить ссылку на логин</p>
    </div>
  </div>
</form>
