<form [formGroup]="question" class="createForm">
  <div class="quizLabel">
    <label class="quizLabel__Name"> Введите название опросника</label>
    <input formControlName="name">
    <label class="quizLabel__Name">Введите описание опросника</label>
    <input formControlName="description">
  </div>
  <div>

    <div formArrayName="questions">
      @for (control of getQuestion().controls; track control; let i = $index) {
        <div [formGroupName]="i" class="quizQuestion">
        <label class="quizQuestion__Name"> Название вопроса</label>
        <input formControlName="name">
        <label class="quizQuestion__Name"> Описание вопроса</label>
        <input formControlName="description">
          @switch (control.get('type')?.value){
            @case ('text'){

            }
            @case('range'){
              <input type ='number' formControlName="min" >
              <input type ='number' formControlName="max">
            }
            @case ('select') {
              <div formArrayName="options">
                @for (opt of getOptions(i)?.controls; track opt; let j = $index) {
                  <div style="display:flex; gap:5px; align-items:center;">
                    <input class="variant" [formControlName]="j" placeholder="Вариант ответа">
                    <button type="button" (click)="removeOption(i, j)">✕</button>
                  </div>
                }
                <button type="button" (click)="addOption(i)">Добавить вариант</button>
              </div>
            }
          }
        </div>
        <button type="button" (click)="removeQuestion(i)">Удааалииить</button>
        <div class="justSpace"></div>
      }
    </div>
    <div class="selectQuiestion">
      <label class="selectQuiestion__Name">Выберете тип вопроса</label>
      <select [(ngModel)] ="typeToAdd"  [ngModelOptions]="{ standalone: true }" class="selectQuiestion__select">
        <option value="text">
          Текстовый
        </option>
        <option value="range">
          С диапазоном
        </option>
        <option value="select">
          С выбором
        </option>
      </select>
      <button type="button" (click)="addQuestion(typeToAdd)" class="selectQuiestion__btn">
        Добавить
      </button>
    </div>
  </div>

  <button (click)="submit()" type="submit" [disabled]="question.invalid">Подтвердить</button>
</form>
