  $background-color: #020202;
  $altbackground-color: #252525;
  $alt-color: #FFFFFF;
  $text-main-color: #FFB800;
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Ribeye&display=swap');
  :root {
    --_offset:128px;
    --_columns: 12;
  }
  html{
    font-size: clamp(8px, 0.8vw, 18px);
  }
  *{

  }
  body{
    font-family: 'Comfortaa', 'Balsamiq Sans', 'Ribeye', sans-serif;
    font-size: 1rem;
    color: $text-main-color;
    margin: 0;
    background-color: $background-color;
  }
  h1{
    color: $alt-color;
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 2rem;
  }
  img{
    width: 100%;
    border-radius: 5%;
  }
  ul{
    list-style: none;
    text-decoration: none;
    color: $alt-color;
  }
  a{
    text-decoration: none;

  }
  hr{
    border: none;
    height: 3px;
    background-color: $alt-color;
    width: 4rem;
    margin: 20px auto;
  }
  span{
    color: $text-main-color;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 8px;
    font-size: 1.5em;
  }
  p{
    color: $alt-color;
  }
  label{
    color: $alt-color;
  }



.hero-section{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  padding-inline: var(--_offset);
}
.hero-section__navbar{
  grid-column: 8/-1;
  grid-row: 1;


}
.navbar__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 28px 0 0;
  position: sticky;
  top: 0;
  grid-column: 8/-1;
  grid-row: 1;
  z-index: 1000;

  &-item{
    min-width: 80px;
    max-width: 150px;
    justify-content: center;
    text-align: center;
    a{
      color: $alt-color;
    }
    &--to-right{
      text-align: right;

    }
    &--active{
      a{
        padding-bottom: 4px;
      }
    }

  }

}

.hero-section__intro{
  grid-column: 5/8;
  justify-self: center;
  align-self: center;
  width: 100%;
  min-width: 300px;



  grid-row: 1;
  text-align: center;
  &__h1{
    padding: 30px 0 10px 0;
    color: $alt-color;
  }
  &__h2{
    color: $alt-color;
  }

}
.hero-section__intro__img{
  border-radius: 50%;
}
main{
  min-height: 80vh;
  background-color: $altbackground-color;

}
.base-section--black-background{
  background-color: $background-color;
}

.base-section{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-inline: var(--_offset);
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;

  &__left-container{
    grid-column: 2/6;
    justify-self: center;
    align-self: center;
    min-height: 80vh;
    min-width: 60%;
    max-width: 460px;

    grid-row: 1;

    &__image{
      border-radius: 5%;
    }
  }
  &__right-container{
    padding-left: 5%;
    grid-column: 6/13;
    grid-row: 1;
    &__p{
      padding-right: 10%;
      padding-top: 2%;
    }
    &__h2{
      font-size: 3rem;
      margin: 0;
    }
    &__text{
      display: flex;
      align-items: center;
      gap: 1rem;
      hr{
        margin-left: 0;
      }
    }
    &__list{
      display: grid;
      grid-template-columns: repeat(3, 1fr) ;
      padding: 0 30% 30% 0;
      grid-row-gap: 2rem;
      grid-column-gap: 1rem;
      &__item{

        height: 50px;
        &__h3{
          font-size: 1rem;
          align-self: center;
          span{
            text-align: right;
          }
        }
      }
    }

  }

  .base-section__middle-container{
    height: 80vh;
    display: grid;
    grid-column: 1/-1;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-columns: subgrid;
    &__h2{
      grid-column: 6/8;
      align-self: center;
      text-align: center;
      color: $alt-color;
    }
    &__left-container{
      grid-row: 2;
      grid-column: 4/7;
      padding-right: 16%;

    }
    &__right-container{
      grid-row: 2;
      grid-column: 7/10;
      padding-left: 16%;
      margin-top: 2rem;
      grid-template-rows: 1fr 1fr 1fr;
      button{
        min-height: 2.5rem;
        min-width: 8rem;
        justify-self: end;
        color:black;
        background-color: $text-main-color;
        border-radius: 15%;
        margin-left: 60%;
        margin-top: 2rem;
        font-family: "Comfortaa", "Balsamiq Sans", "Ribeye", sans-serif;
        border-color: #FFB800;
        padding: 0;
      }

      &__input-holder{
        display: grid;
        padding: 0.5rem;
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        &__label{
          padding-bottom: 0.5rem;

        }
        &__input{
          min-height: 3rem;
          background-color: $altbackground-color;
          border-bottom-color: $altbackground-color;
          border:0;
          border-radius: 0.5rem;
          &--extended{
            min-height: 8rem;
          }
        }
      }
    }
    &__cardholder{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row: 2;
      height: 130%;
      grid-column: 3/11;
      grid-row-gap: 25%;
      grid-column-gap: 1rem;

      &__card{
        padding: 2rem;
        border-radius: 8%;
        background-color: $background-color;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        &__text{
          height: 100%;
        }
        &__link{
          padding: 2rem;
          color: $text-main-color;
          align-self: center;
        }
      }


    }

    &__container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row: 2;
      grid-column: 3/11;
      padding-top: 5%;
      grid-row-gap: 25%;
      grid-column-gap: 1rem;
      &__image{
        width: 100%;
      }
    }
  }

}
.footer-section{
  color: black;
  min-height: 200px;
  background-color: #FFB800;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  &__content{
    color: black;
    grid-column: 2;
    align-items: center;
    place-items: center;
    &__title{
      padding-bottom: 2%;
      padding-top: 2%;
    }
    &__text{
      padding-top: 2%;
      color: black;
      padding-inline: 0;
    }
    &__nav{

      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5%;
      font-size: 1rem;
      &__list{
        color: black;
        padding-left: 0;
      }
    }


  }
}
